@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

*, *::before, *::after {box-sizing: border-box;}

body{
    margin: 0;
    height: 100dvh;
    font-size: 1.3rem; /* use clamp */
    font-family: 'Oxanium', sans-serif;
    background-image: url(images/LAYOUTPC2.png);
    background-size: cover;
}

header{
    background: #124076;
}

img{
    max-width: 100%;
    height: auto;
    font-style: italic;
    vertical-align: middle;
    /* border: 2px solid red; */
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.nav-toggle{
    border: none;
    background-color: transpSarent;
}

.nav__list{
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav__list li{
    padding: .25em;
}

.input-search{
    padding: .6em .5em;
    border: 1px solid transparent;
    border-radius: 4.4px;
    color: #333333;
    font-family: 'Oxanium', sans-serif;
}

input:focus,
input:active{
    outline: none;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: .25em;
    background-color: #fff;
}

.pkmn__section{
    background-color: #F2EFE5;
    border-radius: .25em;
    text-align: center;
}

.btn__section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .25em;
    text-align: center;
    margin-bottom: .8em;
}

.next-btn, .prev-btn{
    color: white;
    font-weight: 700;
    background-color: #444;
    width: 100%;
    padding: 1em;
    border: 2px solid black;
    border-radius: .5em;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;  
}

.next-btn:active, .prev-btn:active{
    box-shadow: inset -4px 4px 0 #222;
    cursor: pointer;
}

.info__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2EFE5;
    padding: 1em;
    border-radius: .25em;
}

.pkmn-img{
    max-width: 680px;
}

.pkmn-id{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E3E1D9;
    font-weight: 700;
    padding: 1em;
    margin-bottom: .1em;
}

.category__section{
    background-color: #E3E1D9;
    padding: .75em;
    text-align: center;
}

.pkmn-info{
    margin: .1em 0;
}

.pkmn-info .row{
    display: flex;
    justify-content: space-between;
    gap: .1em;
}

.pkmn-info span{
    padding: .8em .5em;
}

.pkmn-info span:first-child{
    background-color: #E3E1D9;
    width: 100%;
    text-align: center;
}

.pkmn-info span:nth-child(2){
    background-color: #E3E1D9;
    width: 100%;
}

.pkmn-info .row + .row span{
    border-top: 1px solid #fff;
}

.about__section{
    background-color: #E3E1D9;
    padding: .5em;
}

/* .box-shadow{
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.25);
} */

@media (max-width: 700px){

    body{
        font-size: 1.125rem;
    }

    img{
        width: 100%;
    }

    .container{
        position: relative;
    }

    .nav{
        transform: translate(-100%);
        position: fixed;
        left: 0;
    
        width: 100%;
        justify-content: center;
        background-color: #124076;
    }
    
    .show-nav{
        z-index: 1;
        transform: translate(0);
    }

    .btn__section{
        gap: .5em;
    } 
}

@media (min-width: 1000px) {
    .main-content{
        flex-direction: row;
        padding: .8em;
        gap: .8em;
    }
}