@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

@media (max-width: 900px) {
    .main{
        flex-direction: column;
    }
}

/* @media (min-width: 1000px) {
    .pkmn__section{
        width: 52%;
    }
    
    .info__section{
        width: 46%;
    }
} */

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Oxanium', sans-serif;
}

header{
    padding: 1em 0;
}

img{
    max-width: 100%;
}

.container{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #000;
}

.nav__item{
    margin-right: 1.5em;
    font-size: 1.5rem;
}

.push--right{
    margin-left: auto;
}

.nav__item:hover,
.nav__item:focus{
    opacity: .5;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 1em;
    background: #DC143C;
}

/* .pkmn__section{} */

.info__section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pkmn-id{
    background: #000;
    padding: .75em;
    color: #FFF;
    display: flex;
    justify-content: space-around;
}

.pkmn-info{
    margin: .5em 0;
}

.pkmn-info .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.pkmn-info span{
    padding: .5em .25em;
}
.pkmn-info span:first-child{
    background-color: #d9d9d9;
    width: 42%;
    text-align: center;
}

.pkmn-info span:nth-child(2){
    background-color: #e9e9e9;
    width: 54%;
}

.about{
    background-color: #d9d9d9;
    padding: .5em;
}
.about p{
    margin: 0;
}