@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}

body{
    height: 100dvh;
    font-size: 1rem;
    font-family: 'Oxanium', sans-serif;
}

header{background: #eb7024; padding: 1em; z-index: 1}
main{padding: 0 1em;}

a{
    text-decoration: none;
    color: #fff;
}

.container{width: 100%;}

.nav__list{
    list-style: none;
    display: flex;
    gap: 1em;
}

.push--right{margin-left: auto;}
.ph{font-size: 18px;}

.input-container{
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    z-index: -10;
    margin: 1em;
    display: flex;
}

.show-input{
    transform: translateY(0);
    transition-timing-function: ease;
    transition-duration: 2ms;
    z-index: 10;
    position: relative;
    margin: 1em;
}

#input-search{
    color: #030712;
    font-family: 'Oxanium', sans-serif;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;    
    border-radius: .25em;
    padding: .75em;
    min-width: 100%;
}

.search-toggle{
    background-color: transparent;
    border: none;
    color: #fff;
}

.search-close{
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #030712;
}

#input-search:focus,
#input-search:active{outline: none;}

.pkmn__section{
    position: relative;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;    
    border-radius: .25em;
    text-align: center;
    margin: 1em 0 .75em; 
    height: 400px;
    transition-timing-function: ease;
    transition-duration: 2s;
}

.id__section{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkmn-img{
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.row{
    display: flex;
    align-items: center;
    gap: .5em;
}

.pkmn-name{
    font-size: 1.25rem;
    color: #030712;
    font-weight: 600;
}

.row span,
.pkmn-num{
    font-size: 1.1rem;
    color: #9CA3AF;
    font-weight: 500;
}

.btn-group{
    position: absolute;
    top: 2%;
    right: 2%;
}

.btn{
    cursor: pointer;
    color: #030712;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;
    box-shadow: -1px 2px 0 #F2EFE5, -1px 2px 0 #F2EFE5;
    border-radius: .25em;
    padding: .35em .5em;
    text-align: center;
}

.btn:active{
    box-shadow: inset -2px 1px 0 #F2EFE5;
}

.btn__section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: .35em;
}

.next-btn, .prev-btn{
    cursor: pointer;
    color: #030712;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;
    box-shadow: -1px 2px 0 #F2EFE5, -1px 2px 0 #D1D5DB;  
    border-radius: .5em;
    width: 100%;
    padding: .5em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.next-btn:active, .prev-btn:active{
    box-shadow: inset -4px 4px 0 #F2EFE5;
}

.next-btn span, .prev-btn span{
    margin-top: 2px;
}

.btn-fixed{
    position: fixed;
    right: 15px;
    bottom: 15px;
    visibility: hidden;
}

.btn-fixed.visible{visibility: visible;}

.card__section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    margin: 1em;
}

.pkmn-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;
    border-radius: .25em;
}

.pkmn-card span{
    text-align: center;
    padding: .5em;
    background-color: #FAFAFA;
    border-bottom: 1px solid #F2EFE5;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.pkmn-card-img{max-width: 100%;}

