@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&display=swap');

*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}

body{
    height: 100dvh;
    font-size: 1rem;
    font-family: 'Oxanium', sans-serif;
}

header{background: #124076; padding: 1em; z-index: 1;}
main{padding: 0 1em;}

a{
    text-decoration: none;
    color: #fff;
}

.container{width: 100%;}

.nav__list{
    list-style: none;
    display: flex;
    gap: 1em;
}

.push--right{margin-left: auto;}
.ph-magnifying-glass{font-size: 18px;}

.input-container{
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    z-index: -10;
    margin: 1em;
    display: flex;
}

.show-input{
    transform: translateY(0);
    transition-timing-function: ease;
    transition-duration: 2ms;
    z-index: 10;
    position: relative;
    margin: 1em;
}

#input-search{
    color: #333333;
    font-family: 'Oxanium', sans-serif;
    border: 1px solid #D1D5DB;
    border-radius: .25em;
    padding: .75em;
    min-width: 100%;
}

.search-toggle{
    background-color: transparent;
    border: none;
    color: #fff;
}

.search-close{
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #333333;
}

#input-search:focus,
#input-search:active{outline: none;}

.pkmn__section{
    position: relative;
    background-color: #F4F4F5;
    border: 1px solid #D1D5DB;
    border-radius: .25em;
    text-align: center;
    margin: .5em 0;
    height: 450px;
    transition-timing-function: ease;
    transition-duration: 2s;
}

.pkmn-img{
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.btn-group{
    position: absolute;
    top: 1%;
    right: 1%;
}

.btn{
    cursor: pointer;
    color: white;
    background-color: #444;
    border: 1px solid black;
    box-shadow: -1px 2px 0 #222, -1px 2px 0 #000;
    border-radius: .25em;
    padding: .5em 1em;
}

.btn:active{
    box-shadow: inset -2px 1px 0 #222;
}

.btn__section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: .35em;
}

.next-btn, .prev-btn{
    cursor: pointer;
    color: #fff;
    background-color: #444;
    border: 2px solid black;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;  
    border-radius: .5em;
    width: 100%;
    padding: .5em;
}

.next-btn:active, .prev-btn:active{
    box-shadow: inset -4px 4px 0 #222;
}

.info__section,
.id__section{
    background-color: #F2EFE5;
    border: 1px solid #E3E1D9;
    border-radius: .25em;
    padding: 1em;
}

.pkmn-id{
    display: flex;
    justify-content: space-around;
    background-color: #E3E1D9;
    font-weight: 700;
    padding: 1em;
    margin-bottom: .1em;
}

.category__section{
    background-color: #E3E1D9;
    padding: .75em;
    text-align: center;
}

.pkmn-info{margin: .1em 0;}

.pkmn-info .row{
    display: flex;
    justify-content: space-between;
    gap: .1em;
}

.pkmn-type--container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1em;
}

.pkmn-type{width: 40%;}

.align-type{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pkmn-info span{
    padding: .8em .5em;
}

.pkmn-info span:first-child,
.pkmn-info span:nth-child(2){
    background-color: #E3E1D9;
    width: 100%;
    text-align: center;
}

.pkmn-info .row + .row span{border-top: 1px solid #F2EFE5;}

.about__section{
    background-color: #E3E1D9;
    padding: .5em;
}

.card__section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em 0;
}

.pkmn-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2EFE5;
    border: 1px solid #ccc;
    border-radius: .25em;
    box-shadow: 0px 4px 4px #ccc;
}

.pkmn-card span{
    text-align: center;
    padding: .5em;
    background-color: #E3E1D9;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.pkmn-card-img{max-width: 100%;}

.btn-fixed{
    position: fixed;
    right: 15px;
    bottom: 15px;
    visibility: hidden;
}

.btn-fixed.visible{visibility: visible;}

#input-search{
    width: 60%;
}

.main-content{
    padding: .5em;
    border: none;
}

.btn__section{
    gap: .5em;
    padding: .5em 0 .25em;
}

.pkmn__section, 
.info__section{border-radius: .35em;}

.id__section,
.btn__section{margin-bottom: .75em;} 

.pkmn-type--container{flex-direction: column;}

.pkmn-type{width: 70%;}

.btn{padding: .3em .6em;}

.card__section{
    gap: .5em;
    padding: .5em;
    grid-template-columns: 1fr 1fr 1fr;
}

.pkmn-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2EFE5;
    border: 1px solid #ccc;
    border-radius: .25em;
    box-shadow: -1px 1px 2px #ccc, 1px -1px 2px #ccc;
}

