@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}

body{
    height: 100dvh;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

header{
    position: sticky;
    top: 0; 
    z-index: 1; 
    background-color: #fff;
}

main{padding: 0 1em 1em; background-color: #fff;}

a{
    text-decoration: none;
    color: #030712;
}

.container{width: 100%;}

.nav-bar {
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 0 3px #9CA3AF;
}

.nav__list{
    list-style: none;
    display: flex;
    gap: 1em;
}

.push--right{margin-left: auto;}

.ph{opacity: .8;}
.ph:hover {opacity: 1; transition: 500ms;}

.ph-x,
.ph-caret-left,
.ph-magnifying-glass{font-size: 18px;}

.ph-arrow-circle-left,
.ph-arrow-circle-right{font-size: 24px;}

.ph-sparkle,
.ph-arrows-counter-clockwise{color: #eb7024; font-size: 18px;}

.input-container{
    transform: translateY(-150%);
    position: absolute;
    top: 0;
    z-index: -10;
    margin: 0 1em;
}

.show-input{
    transform: translateY(0);
    transition-timing-function: ease;
    transition-duration: 2ms;
    z-index: 10;
    position: relative;
    margin: 0 1em;
}

#search-input{
    color: #030712;
    font-family: 'Oxanium', sans-serif;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;    
    border-radius: .25em;
    padding: 1em;
    min-width: 100%;
}

.error-input{
    border: 1px solid #EF4444 !important;
}

.error-msg{
    color: #DC2626;
    font-style: italic;
    font-size: .8rem;
    margin-top: .5em;
    position: absolute;
    bottom: -42%;
    left: 0;
}

.search-toggle{
    background-color: transparent;
    border: none;
    color: #030712;
    cursor: pointer;
}

.search-close{
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #030712;
}

#search-input:focus,
#search-input:active{outline: none;}

.pkmn__section{
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;    
    border-radius: .25em;
    text-align: center;
    height: 350px;
}

.id__section{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.pkmn-id,
.pkmn-evo--id{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__section{margin: 1em 0;}

.pkmn-img,
.pkmn-evo--img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.pkmn-name{
    font-size: 1.5rem;
    color: #030712;
    font-weight: 700;
}

.pkmn-id .row{display: flex; gap: .25em;}

.pkmn-id span,
.pkmn-num{
    font-size: 1.25rem;
    color: #9CA3AF;
    font-weight: 300;
}

.version__section{
    display: inline-flex;
    align-items: center;
    gap: .5em;
}

.type__section p,
.version__section p,
.evolution__section p{
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: .25em;
}

.pkmn-type--container{
    display: flex;
    gap: .25em;
}

.pkmn-type{
    object-fit: cover;
    max-width: 120px;
    border-radius: .25em;
}

.info__section{
    margin: 1em 0;
    background-color: #6cba7d;
    border-radius: .25em;
    height: 300px;
}

.info__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info__section .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__section .row span{
    color: #F2EFE5;
    font-size: .75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.info__section .row p{
    color: #fff;
    font-weight: 500;
}

.evolution__section{
    margin: 1em 0 0;
    padding: 1em;
    height: fit-content;
    background: url('/images/assets/LAYOUTPC2.png');
    background-size: cover;
    border-radius: .5em;
}

.pkmn-evo--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1.25em;
}

.pkmn-evo--box{
    border: 4px solid #fff;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    background-color: #F1CE81;
    box-shadow: -2px 2px 3px #444;
    margin-bottom: .5em;
}

.ph-arrows-down-up,
.ph-arrow-down{font-size: 48px; z-index: 5;}

.pkmn-evo--id,
.pkmn-evo--id .row{display: flex; gap: .25em;}

.pkmn-evo--name{
    font-size: 1.125rem;
    font-weight: 600;
}

.pkmn-evo--id span,
.pkmn-evo--num{
    color: #4B5563;
    font-weight: 500;
    font-size: 1rem !important;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #F2EFE5;
    border-radius: .25em;
    padding: .35em .5em;
    text-align: center;
    box-shadow: -1px 1px #d1d5dc;
}

.btn:active{
    box-shadow: inset -1px 1px 0 #d1d5dc;
}

.btn-form {display: none;}

.next-btn, .prev-btn{
    cursor: pointer;
    color: #030712;
    padding: .5em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.next-btn:active, .prev-btn:active{
    box-shadow: inset -4px 4px 0 #F2EFE5;
}

.card__section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    margin: 0 .5em;
}

.pkmn-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
    border: 1px solid #F2EFE5;
    border-radius: .25em;
}

.pkmn-card span{
    text-align: center;
    padding: .5em;
    background-color: #FAFAFA;
    border-bottom: 1px solid #F2EFE5;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.pkmn-card-img{max-width: 100%;}

.arrow-0 {
    display: none;
}