<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="images/favicon.png">
    <title>Fakedex</title>
</head>
<body onload="showPkmn()">
    <header>
        <div class="container">
            <div class="nav-bar">
                <button class="nav-toggle">
                    <img src="images/menu.png" alt="menu">
                </button>
                <nav class="nav">
                    <button class="nav-close">
                        <img src="images/close-menu.png" alt="close-button">
                    </button>
                    <ul class="nav__list">
                        <li class="nav__list-links">
                            <a href="index.html">HOME</a>
                        </li>
                        <li class="nav__list-links">
                            <a href="fakedex.html">FAKEDEX</a>
                        </li>
                        <li  class="push--right">
                            <input type="search" id="input-search">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="card__section">
        </section>
        <a href="#">
            <button class="btn btn-fixed">↑</button>
        </a>
    </div>
    <script src="view/js/app.js"></script>
    <script src="/view/js/pkmn.js"></script>
</body>
</html>